# Copier vers deploy/versions.env et adapter selon l'environnement

API_IMAGE=shoplite-api
FRONTEND_IMAGE=shoplite-frontend

STABLE_API_TAG=starter
STABLE_FRONTEND_TAG=starter

CURRENT_API_TAG=starter
CURRENT_FRONTEND_TAG=starter
